.skill-panel {
  transition: background 0.3s ease;

  &.active {
    backdrop-filter: blur(5px);
    
    .panel-label .num::after {
      height: 30px;
      background: var(--color-primary);
    }
  }

  .panel-label {
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);

    .title {
      writing-mode: vertical-lr;
      text-orientation: mixed;
    }

    .num::after {
      content: '';
      display: block;
      width: 1px;
      height: 15px;
      background: rgba(193, 138, 103, 0.3);
      margin: 8px auto 0;
    }

    @media (max-width: 768px) {
      .title { writing-mode: horizontal-tb !important; }
      .num::after { display: none !important; }
    }
  }

  .panel-content {
    @media (max-width: 768px) {
      transform: translateY(0px) !important;
      max-height: calc(100vh - 380px);
    }

    // 自定義捲軸
    &::-webkit-scrollbar { width: 4px; }
    &::-webkit-scrollbar-track { background: var(--color-card-bg); }
    &::-webkit-scrollbar-thumb { 
      background: rgba(123, 155, 166, 0.2);
      border-radius: 10px; 
    }
  }

  .skill-item {
    .progress-fill::after {
      content: '';
      position: absolute;
      right: 0;
      width: 2px;
      height: 10px;
      background: var(--color-primary);
      top: -4px;
    }
    
    &.active .desc {
      opacity: 1;
      transform: translateX(0);
    }
  }
}