#root {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: $text-main;
  background: $bg-secondary;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  font-family: 'JetBrains Mono', 'Fira Code', monospace;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-weight: 500;
  color: $text-main;
}

h1 {
  font-size: 56px;
  line-height: 100%;
  letter-spacing: -1.68px;
  margin: 32px 0;
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

p {
  margin: 0;
}
